<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WMS.Windows.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WMS.Windows.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="Data Source=127.0.0.1;Initial Catalog=eads;User ID=sa;pwd=bokesys.com;"/>
    <add key="DBDrive" value="sqlserver"/>
    <add key="ServerPort" value="9900"/>
  </appSettings>
  <connectionStrings>
    <add name="WMSContext" connectionString="metadata=res://*/WMSContext.csdl|res://*/WMSContext.ssdl|res://*/WMSContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.200;initial catalog=DQS;integrated security=False;UID=sa;PWD=bokesys.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- 此配置用于自动修改打印模板的数据库连接 -->
    <add name="DbConnectStrings" connectionString="Data Source=.; Initial Catalog=HGCS;Integrated Security=false;UID=sa;PWD=bokesys.com"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <WMS.Windows.App.Properties.Settings>
      <setting name="AutomaticOutStoreInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AutomaticOutStore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RootPassword" serializeAs="String">
        <value>bokesys.com</value>
      </setting>
      <setting name="AllowNoCodeReview" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SystemSignStoreInPosition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WMSStandalone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemoteManifest" serializeAs="String">
        <value>http://localhost/BokesysSoft/WMS.manifest</value>
      </setting>
      <setting name="PrintCargoBarcode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowNoCodeStoreIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxOutTaskCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="InDataFolder" serializeAs="String">
        <value>D:\InData</value>
      </setting>
      <setting name="OutDataFolder" serializeAs="String">
        <value>D:\OutData</value>
      </setting>
      <setting name="UseYuanboControl" serializeAs="String">
        <value>False</value>
      </setting>
    </WMS.Windows.App.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <WMS.Windows.App.Properties.Settings>
      <setting name="AutoCheckForUpdate" serializeAs="String">
        <value>True</value>
      </setting>
    </WMS.Windows.App.Properties.Settings>
  </userSettings>
</configuration>