<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBServerName" value="192.168.1.136" />
    <add key="DBServerPort" value="1433" />
    <add key="DBDatabaseName" value="DQSYB" />
    <add key="DBUserName" value="sa" />
    <add key="DBPassword" value="bokesys.com" />
    <add key="SystemSignPosition" value="true" />
    <add key="PrintCargoBarcode" value="true" />
  </appSettings>
</configuration>